h1 { 
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 60px;
  background-color:#0B3D2D;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

h2{
font-size: 40px;
color:#0B3D2D;
font-family: Arial, Helvetica, sans-serif;
}

h3 { 
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color:  #B75002;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 80px;
}

.map {grid-area: map;}
.summary {grid-area: summary;}
.gauge {grid-area: gauge;}
.visits {grid-area: visits;}

.grid-container {
display: grid;
grid-template-areas:
  'map map map map map summary'
  'gauge gauge visits visits visits visits';
grid-gap: 10px;
background-color: #0B3D2D;
padding: 10px;
}

.grid-container > div {
background-color: white;
text-align: center;
padding: 20px 0;
font-size: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: #0B3D2D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

li a:hover {
  background-color: #0B3D2D;
  color: white;
}

p {
  font-size: 15px;
  color:#0B3D2D;
  font-family: Arial, Helvetica, sans-serif;
}

#nps_map,
body,
html {
  height: 500px
   }

.simple {
  color:black;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

h4 { 
  color:  #0B3D2D;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.pam {grid-area: pam;}
.calvin {grid-area: calvin;}
.jackie {grid-area: jackie;}
.mallory {grid-area: mallory;}

.team-container {
display: grid;
grid-template-areas:
  'calvin calvin jackie jackie mallory mallory pam pam';
grid-gap: 5px;
}