<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>National Park Finder</title>

           
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
 
   <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"></link>

</head>

<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/other">About Us</a></li>
        <li><a href="/parkdetails">Park Data</a></li>
    </ul>    
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>National Park Dashboard</h1>
                <h3>Use this interactive page to find information about the parks, their visitation information, and more...</h3>
            </div>
        </div>
    </div>

    <div class="grid-container">
        <div class="map">
            <div id="nps_map"></div>
        </div>
        <div class="summary">
            <h2>Park summary</h2>
            <div id="park_title"></div>
            <div class="simple" id="park_summary"></div>
            <div id="park_url"></div>
        </div>
        <!-- add a hidden function for the guage and visits -->
        <div class="gauge">
            <h2>Popularity Gauge</h2>
            <p>% difference of March 2021 from 2020 national monthly average.</p>
            <div id="visit_gauge"></div>
        </div>
        <div class="visits">
            <h2>Park Visitation History</h2>
            <div id="visitation_plot"></div>
            <p>
                Current calendar year data are preliminary and subject to change.  Data will be finalized by the end of the first quarter of the next calendar year.
            </br>
                If a park has not entered data for the selected month/year, the value from the same month of the previous year is used as an estimate for the selected month/year.</p>
        </div>
    </div>

    <p>This dashboard was created for the University of Minnesota Data Analytics and Visualization Program in May 2021.</p>
    
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>

    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

   <!-- D3 -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
    
    <!-- add API for map, which is in config.js -->
    <script type="text/javascript" src="../static/js/config.js"></script>

    <!--ApexCharts Gauge-->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>   

    <!-- add in the main javascript where everything is -->
    <script type="text/javascript" src="../static/js/main.js"></script>


</body>

</html>