<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>National Park Finder</title>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"></link>

</head>

<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/other">About us</a></li>
        <li><a href="/parkdetails">Park Data</a></li>
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>National Park Dashboard</h1>
                <h3>Use this interactive page to find information about the parks, their visitation information, and more...</h3>
            </div>
        </div>
    </div>

    <div class="grid-container">
        <div class="map"><h2>Park map</h2><div id="nps_map"></div></div>
        <div class="summary"><h2>Park summary</h2><div id="park_summary"></div></div>
        <!-- add a hidden function for the guage and visits -->
        <div class="gauge"><h2>Popularity Gauge</h2><div id="visit_gauge"></div></div>
        <div class="visits"><h2>Park visitation history</h2><div id="visitation_plot"></div></div>
    </div>

    <p>This dashboard was created for the University of Minnesota Data Analytics and Visualization Program in May 2021.</p>

    <script type="text/javascript" src="../static/js/main.js"></script>
    <!-- ADD THE LINK TO LIBRARY FOR GAUGE!!!!  -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>   
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</body>

</html>