<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"></link>

</head>

<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/other">About us</a></li>
    </ul>
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h1>About the team</h1>
        </div>
    </div>
    <p>This dashboard was created for the University of Minnesota Data Analytics and Visualization Program in May 2021.</p>
    <h4>Team members</h4>
    <p>{{ team_members }}</p>
    <h4>Project description</h4>
    <p>{{ project_description }}</p>

    <a href="/">Return to the dashboard</a>
</body>

</html>